<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Admin page for enabling/disabling precomputed queries which exist in results cache. -->
{% comment %}
The following variables are defined:
  SITE_TITLE - page title
  NUM_POS_TRAIN - number of positive training images
  DISABLE_CACHE - boolean for disabling/enabling the cache
  IMPROC_TIMEOUT - Query Download Timeout
  IMPROC_ENGINE - Image Search Engine currently selected
  IMPROC_ENGINE_LIST - List of Image Search Engines
  ENGINES_NAMES - Dictionary of engines names
  ENGINES_WITH_PIPELINE - Dictionary of engines (with pipeline) names
  CACHED_TEXT_QUERIES - List of cached text queries
  HOME_LOCATION - location of the root home page taking into account possible redirections
  MAX_TOTAL_SIZE_UPLOAD_INDIVIDUAL_FILES - Maximum amount of bytes when uploading individual files
  MAX_NUMBER_UPLOAD_INDIVIDUAL_FILES -  Maximum number of individual files to be uploaded
  VALID_IMG_EXTENSIONS_STR - String list of valid image extensions + .txt (for supporting list of files)
{% endcomment %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="en-gb" http-equiv="Content-Language" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="static/styles/main.css" rel="stylesheet" type="text/css" />
        <link href="static/styles/admintools.css" rel="stylesheet" type="text/css" />
        <link href="static/scripts/widgets/jquery.ui.querybar.css" rel="stylesheet" type="text/css" />
        <link href="static/scripts/widgets/jquery.ui.imageuploader.css" rel="stylesheet" type="text/css" />
        <title>{{SITE_TITLE}} - Manage Cache</title>
    </head>

    <body>
        <div id="container">
            <div id="page_header">
                <a href="{{HOME_LOCATION}}">
                    <img src="static/images/logo_sml.png" alt="{{SITE_TITLE}}" id="header_logo" />
                </a>
                <div id="top-right-links">
                    <a href="{{HOME_LOCATION}}">Home</a> &middot;
                </div>
            </div>

            <ul class="tab">
                <li><a href="javascript:void(0)" class="tablinks active" onclick="openTab(event, 'Configuration')">Global Server Configuration</a></li>
                <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'ManageService')">Manage Backend Service</a></li>
                <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'ManageData')">Manage Backend Data</a></li>
            </ul>

            <!-- "Global Server Configuration" tab -->
            <div  class="tabcontent" id="Configuration" style="display: block;">
                <form id="cachemanage" style="display: inline; margin: 0;" action="set_config" method="post">{% csrf_token %}
                    <div id="modules-container">
                        <h2>Global Server Configuration</h2>
                        <small>The following are only valid for engines with an active Image Postprocessing Module</small>
                        <div class="module-content">
                            <dl>
                                <dt>Number of Training Images:</dt>
                                <dd>
                                    <input name="num_pos_train" type="number" size="6" min="1" max="200" value="{{NUM_POS_TRAIN}}" /> <small><em>(max 200)</em></small>
                                </dd>
                                 <dt>Query Download Timeout:</dt>
                                <dd>
                                    <input name="improc_timeout" size="6" value="{{IMPROC_TIMEOUT}}" />
                                    <small><em>(timeout is overridden in engines that specify their own timeout)</em></small>
                                </dd>
                                <dt>Image Search Engine:</dt>
                                <dd>
                                    <select name="improc_engine">
                                        {% for ITEM in IMPROC_ENGINE_LIST %}
                                            <option value="{{ITEM}}" {% if ITEM == IMPROC_ENGINE %}selected="selected"{% endif %}>{{ITEM}}</option>
                                        {% endfor %}
                                    </select>
                                </dd>
                            </dl>
                        </div>

                        <h2>Query Cache</h2>
                        <div class="module-content">
                            <dl>
                                <dt>Disable caching for all queries:</dt>
                                <dd>
                                    <select name="cache_disabled" id="cache_disabled">
                                        {% if DISABLE_CACHE == True %}
                                           <option value="0">False</option>
                                           <option value="1" selected="selected">True</option>
                                        {% else %}
                                           <option value="0" selected="selected">False</option>
                                           <option value="1">True</option>
                                        {% endif %}
                                    </select>
                                </dd>
                            </dl>
                            <h3>Text Queries</h3>
                            {% if DISABLE_CACHE == True %}
                                <p class="warning-message" id="msg_server_cache_disabled">NOTE: Caching is currently disabled on the server. The global cache setting must be re-enabled for the settings below to have any effect.</p>
                            {% endif %}
                            <p class="warning-message" id="msg_cache_to_be_disabled" style="display:none;">NOTE: You have chosen to disable caching on the server. The global cache setting must be enabled for the settings below to have any effect.</p>
                            <ul class="tab" name="queries_tab">
                               {% for ENGINE,NAME in ENGINES_NAMES.items %}
                                    <li><a href="#queries_tab" {% if forloop.counter0 == 0 %}class="tablinks2 active"{% else %}class="tablinks2"{% endif %} onclick="openEngineCache(event, '{{ENGINE}}')">{{NAME}}</a></li>
                               {% endfor %}
                            </ul>
                           {% for ENGINE,QUERIES in CACHED_TEXT_QUERIES.items %}
                            <div id="{{ENGINE}}" class="tabcontent2" {% if forloop.counter0 == 0 %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                                 <div class="module-content">
                                    <p>Uncheck to disable caching for a query <strong>for the current session</strong></p>
                                    {% if QUERIES %}
                                    <div id="cached_text_queries_{{ENGINE}}" style="-webkit-column-width:200px;-moz-column-width:200px;column-width:200px;">
                                        {% for ITEM in QUERIES %}
                                            {% if ITEM.0|make_list|first  == '#' %}
                                             <div style="display:inline-block; width:200px;color:red">
                                            {% else %}
                                             <div style="display:inline-block; width:200px">
                                            {% endif %}
                                             <input type="checkbox" name="active_text_queries_{{ENGINE}}" value="{{ITEM.0}}" {% if ITEM.1 == False %}checked="checked"{% endif %} /> {{ITEM.0}} {% if ITEM.1 == False %}<a class="del_link" href="{{HOME_LOCATION}}delete_text_query?q={{ITEM.0|urlencode}}&amp;engine={{ENGINE}}" style="font-size:small;">delete</a>{% endif %}
                                             </div>
                                             <input type="hidden" name="all_text_queries_{{ENGINE}}" value="{{ITEM.0}}" />
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                       <p>No cached text queries</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            <a href="" id="show_cache_clear_tools">Display cache clear tools</a>
                            <dl id="cache_clear_tools" style="display:none;">
                                <dt>Clear caches:</dt>
                                <p class="warning-message">Please note that clearing any cache also makes ALL current queries expire.</p>
                                <dd>
                                    <button type="button" id="btn_clear_text_queries" onclick="clearCacheAndReload('text');">Clear Text Queries</button>
                                    <button type="button" id="btn_clear_image_queries" onclick="clearCacheAndReload('image');">Clear Images Queries</button>
                                </dd>
                            </dl>
                        </div>
                        <input type="submit" value="Save Changes"/>
                    </div>
                </form>
            </div>

            <!-- "Manage Backend Service" tab -->
            <div id="ManageService" class="tabcontent" style="display: none;">
                <form id="backend_start" action="start_backend" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div id="config-options-container">
                        <h2>Start Backend Service</h2>
                        Search Engine:
                        <select name="engine_name">
                            {% for ENGINE,NAME in ENGINES_NAMES.items %}
                                <option value="{{ENGINE}}">{{NAME}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Start"/>
                    </div>
                </form>
                <form id="backend_end" action="stop_backend" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div id="config-options-container">
                        <h2>Stop Backend Service</h2>
                        Search Engine:
                        <select name="engine_name">
                            {% for ENGINE,NAME in ENGINES_NAMES.items %}
                                <option value="{{ENGINE}}">{{NAME}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Stop"/>
                    </div>
                </form>
                <form id="metadata_backend" action="metadata_reset" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div id="config-options-container">
                        <h2>Reset Metadata Service</h2>
                        <input type="submit" value="Reset"/> <strong>This will NOT delete your metadata. It will just reload it all from scratch.</strong>
                    </div>
                </form>
                <br/>
            </div>

            <!-- "Manage Backend Data" tab -->
            <div id="ManageData" class="tabcontent" style="display: none;">
                <form id="config_pipeline"  action="pipeline_input" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div id="config-options-container">
                        <h2>Ingest New Data</h2>
                        <div id="config-options-container">
                                <dl>
                                    <dt>Search Engine:
                                        <select name="engine">
                                        {% for ENGINE,NAME in ENGINES_WITH_PIPELINE.items %}
                                            <option value="{{ENGINE}}">{{NAME}}</option>
                                        {% endfor %}
                                        </select>
                                    </dt>
                                    <br>
                                    <dt>Input type:</dt>
                                    <dd>
                                          <br>
                                          <input type="radio" name="input_type" value="positive" checked> Images<br>
                                          <br>
                                          (OPTIONAL) Select specific files to be ingested:
                                          <ul>
                                          <br>
                                          <li>Select files from a local storage: <input name="input_file" id="input_descriptor_file_input" type="file" multiple="true" accept="{{VALID_IMG_EXTENSIONS_STR}}"/><br></li>
                                          <br>
                                          <li>Select a local IIIF Manifest specifying the files: <input name="input_json" id="input_descriptor_json_input" type="file" accept=".json"/><br></li>
                                          <br>
                                          <li>Enter the URL of an IIIF Manifest specifying the files: <input name="input_url" id="input_descriptor_url_input" type="url"/><br></li>
                                          </ul>
                                          <br>
                                          <strong>If no specific files are selected for ingestion, the full content of the images folder will be processed</strong><br>
                                          <br>
                                          <input type="radio" name="input_type" value="video"> Videos<br>
                                          Select a local text file (.txt) containing the COMPLETE paths to the videos:
                                          <input name="input_video_list" id="input_descriptor_video_input" type="file" accept=".txt"/><br>
                                          <strong>Only videos up to 90 minutes are supported. MP4 format is recommended.</strong><br>
                                          <strong>BE ADVISED: Video ingestion is computationally intensive.</strong><br>
                                    </dd>
                                </dl>
                        </div>
                        <input type="submit" value="Ingest"/>
                    </div>
                </form>
                <br/>
                <form id="config_pipeline" action="clear_backend" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div id="config-options-container">
                        <h2>Clear Backend Data</h2>
                        <dt>Search Engine:
                            <select name="engine">
                            {% for ENGINE,NAME in ENGINES_WITH_PIPELINE.items %}
                                <option value="{{ENGINE}}">{{NAME}}</option>
                            {% endfor %}
                            </select>
                        </dt>
                        <br>
                        <input type="hidden" name="input_type" value="positive" />
                        <input type="submit" value="Clear"/>
                    </div>
                </form>
                <br/>
            </div>

            <!-- ACKs -->
            <div class="results_nav_ack">
                <a href="http://www.robots.ox.ac.uk/~vgg/" target="_blank"><img src="static/images/ack-ox.png"/></a>
                <br><br>
            </div>
            <script type="text/javascript" src="static/scripts/lib/jquery-1.11.3.min.js"></script>
            <script type="text/javascript">
            function clearCacheAndReload(cachetype) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "{{HOME_LOCATION}}clear_cache?type=" + cachetype , false );
                xmlHttp.send( null );
                location.reload();
            }
            </script>
            <script type="text/javascript">
            function openTab(evt, tabName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the link that opened the tab
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            </script>
            <script type="text/javascript">
            function openEngineCache(evt, engineName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent2");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks2");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the link that opened the tab
                document.getElementById(engineName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            </script>
            {% if MAX_TOTAL_SIZE_UPLOAD_INDIVIDUAL_FILES or MAX_NUMBER_UPLOAD_INDIVIDUAL_FILES %}
            <script>
            $(function(){
                $("input[type='submit']").click(function(){
                    var $fileUpload = $("input[type='file']");
                    var num_files = parseInt($fileUpload.get(0).files.length);
                    if (num_files>{{MAX_NUMBER_UPLOAD_INDIVIDUAL_FILES}}) {
                        alert("You can only upload a maximum of {{MAX_NUMBER_UPLOAD_INDIVIDUAL_FILES}} files at a time. In order to upload a larger number " +
                              "of files, please place them in the images folder and upload a text file containing the relative paths to all " +
                              "new files within the folder. If it is the fist time you will ingest data, you can also ingest the complete images folder.");
                        return false;
                    }
                    var total_size = 0;
                    for (i = 0; i < num_files; i++) {
                        total_size = total_size + $fileUpload.get(0).files[i].size;
                    }
                    console.log(total_size);
                    if (total_size>{{MAX_TOTAL_SIZE_UPLOAD_INDIVIDUAL_FILES}}){
                        alert("You can only upload a maximum of {% widthratio MAX_TOTAL_SIZE_UPLOAD_INDIVIDUAL_FILES 1048576 1 %} MB at a time. In order to upload a larger amount " +
                              "of files, please place them in the images folder and upload a text file containing the relative paths to all " +
                              "new files within the folder. If it is the fist time you will ingest data, you can also ingest the complete images folder.");
                        return false;
                    }
                });
            });
            </script>
            {% endif %}
            <script type="text/javascript">
            $(function() {
                $('.del_link').click(function(e) {
                    e.stopPropagation();

                    $.get($(this).attr('href'));

                    $(this).parent().hide();

                    return false;
                });
                $('#show_cache_clear_tools').click(function(e) {
                    e.stopPropagation();

                    $('#cache_clear_tools').slideDown();
                    $('#show_cache_clear_tools').hide();

                    return false;
                })
                $('#cache_disabled').change(function() {
                    disable_cache = Boolean(parseInt($(this).val()));

                    $('#msg_server_cache_disabled').slideUp('fast');

                    if (disable_cache) {
                        $('#msg_cache_to_be_disabled').slideDown('fast');
                    } else {
                        $('#msg_cache_to_be_disabled').slideUp('fast');
                    }
                });
            });
            </script>
        </div>
    </body>
</html>
